/* Set the height of the html and body elements to 100% to ensure that the footer is positioned relative to the viewport */
html, body {
  height: 100%;
}

.content {
  /* add margin-bottom and padding-top to create space for the footer */
  margin-bottom: 50px;
  padding-top: 15px;
}

.footer {
  /* position the footer at the bottom of the viewport */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* set the height and background color */
  height: 50px;
  background: #246c8e;
  /* center the text and icons */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 28px;
  font-family: "Campton", sans-serif;
  font-style: italic;
  font-weight: bolder;
}

.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  bottom: 5%;
}

#images {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

#email {
  font-size: 18px;
}