div img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
body{
  min-height: 100%;
}

.content {
  /* add margin-bottom and padding-top to create space for the footer */
  margin-bottom: 50px;
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #246c8e;
  color: #fff;
  text-align: left;
  width: 100%;
  font-size: 28px;
  font-family: "Campton", sans-serif;
  font-style: italic;
  font-weight: bolder;
  /* center the #images element */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  bottom: 5%;
}

#images {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

#email {
  font-size: 18px;
}