.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2%;
  /* add overflow-y: auto to add a vertical scrollbar to the container */
  overflow-y: auto;
  /* set the height of the container to fill the available space */
  height: calc(100vh - 250px);
}

.book-container, .author-container {
  width: 30%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  margin-top: 2%;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.book-cover, .author-icon {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  height: auto;
  cursor: pointer;
}

.book-title, .author-name {
  font-size: 24px;
  font-weight: bold;
  color: #246c8e;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.book-genre {
  font-size: 18px;
  font-weight: bold;
  color: #eb594c;
  margin-top: 5px;
  margin-bottom: 5px;
}

.book-author {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.author-bio {
  font-size: 14px;
  color: black;
  margin-top: 10px;
}

/* Define the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination-link {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-link.active {
  font-weight: bold;
  background-color: #246c8e;
  color: white;
  border-color: #246c8e;
}